       <!-- HEADING BREADCRUMB-->
       <section class="bg-pentagon py-4">
        <div class="container py-3">
          <div class="row d-flex align-items-center gy-4">
            <div class="col-md-7">
              <h1 class="h2 mb-0 text-uppercase">Support and Service</h1>
            </div>
            <div class="col-md-5">
              <!-- Breadcrumb-->
              <ol class="text-sm justify-content-start justify-content-lg-end mb-0 breadcrumb undefined">
                <li class="breadcrumb-item"><a class="text-uppercase" routerLink="../">Home</a></li>
                <li class="breadcrumb-item text-uppercase active">Support and Service </li>
              </ol>
            </div>
          </div>
        </div>
      </section>


      <!-- Contact us -->

      <section class="py-5  border-top border-gray-600" id="contact-us">
        <div class="container py-4">
          <a class="float" href="https://api.whatsapp.com/send?phone=919043823021&text=&source=&data=" target="_blank" rel="noopener" title="WhatsApp">
            <img style ="height: 58px;width: 59px;margin: -3px -4px -1px -4px;" title="WhatsApp" alt="WhatsApp" src="assets/img/whatsapp.webp"></a>
          <div class="row gy-5">
          <p class="text-muted lead text-center mb-5">Please provide your comments for our support and service</p>

            <div class="col-lg-12">
              <!-- CONTACT FORM-->
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSa8OvHON-wi0gtHQ-8KnZxEcfxvzCQpCvUtxThrlHEayYmw/viewform?embedded=true" style="width:100%;height:1000px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
            <!-- CONTACT INFO-->

          </div>
        </div>
      </section>
