    <!-- HERO SLIDER SECTION-->
    <section class="text-white bg-cover bg-center primary-overlay overlay-dense"
      style="background: url('assets/img/motor1.webp') repeat">
      <div class="overlay-content py-5">
        <div class="container py-4">
          <!-- Hero slider-->
          <div class="swiper-container homepage-slider">
            <div class="swiper-wrapper">
              <!-- Hero Slide-->
              <div class="swiper-slide h-auto mb-5">
                <div class="row gy-5 h-100 align-items-center">
                  <div class="col-lg-6 text-lg-end">
                    <h1 class="text-uppercase">One Stop Pumping Solutions & Service Providers</h1>
                    <ul class="list-unstyled text-uppercase fw-bold mb-0">
                      <li class="mb-2">Dynamic and Innovative </li>
                      <li>Trusted and reliable partner.</li>
                    </ul>
                  </div>
                  <div class="col-lg-6"><img class="img-fluid" src="assets/img/logo3.webp" alt="industrial pumps,Sewage Pumps,Slurry pumps,water pumps,centrifugal pumps,submersible pumps,submersible water pumps"></div>
                </div>
              </div>
              <!-- Hero Slide-->
              <div class="swiper-slide h-auto mb-5">
                <div class="row gy-5 h-100 align-items-center">
                  <div class="col-lg-6"><img class="img-fluid" src="assets/img/mission.png" alt="industrial pumps,Sewage Pumps,Slurry pumps,water pumps,centrifugal pumps,submersible pumps,submersible water pumps"></div>

                  <div class="col-lg-6">
                    <h1 class="text-uppercase">Our Mission</h1>
                    <ul class="list-unstyled text-uppercase fw-bold mb-0">
                      <li class="mb-2"> Pumping solutions</li>
                      <li class="mb-2"> Offering reliable products</li>
                      <li class="mb-2">innovate and improve our offerings</li>
                      <li>Integrity and teamwork</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- Hero Slide-->
              <div class="swiper-slide h-auto mb-5">
                <div class="row gy-5 h-100 align-items-center">
                  <div class="col-lg-6 text-lg-end">
                    <h1 class="text-uppercase">Our Vision</h1>
                    <ul class="list-unstyled text-uppercase fw-bold mb-0">
                      <li class="mb-2">driving innovation </li>
                      <li>Customer-centric solutions</li>
                      <li> resource-conscious world</li>
                    </ul>
                  </div>
                  <div class="col-lg-6"><img class="img-fluid" src="assets/img/vision.png" alt="industrial pumps,Sewage Pumps,Slurry pumps,water pumps,centrifugal pumps,submersible pumps,submersible water pumps"></div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination swiper-pagination-light"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- MAIN SERVICES SECTION-->
    <section class="py-5" id="services">
      <a class="float" href="https://api.whatsapp.com/send?phone=919043823021&text=&source=&data=" target="_blank" rel="noopener" title="WhatsApp">
        <img style ="height: 58px;width: 59px;margin: -3px -4px -1px -4px;" title="WhatsApp" alt="WhatsApp" src="assets/img/whatsapp.webp"></a>
      <div class="container py-4">
        <header class="mb-5">
          <h2 class="text-uppercase lined mb-4">Our Core Values</h2>
          <p class="lead"></p>
        </header>
        <div class="row gy-4">
          <!-- Service-->
          <div class="col-lg-4 col-md-6 block-icon-hover text-center">
            <div class="icon icon-outlined icon-outlined-primary icon-thin mx-auto mb-3"><i class="fas fa-user"></i>
            </div>
            <h4 class="text-uppercase mb-3">Customer Satisfaction</h4>
            <p class="text-gray-600 text-sm">We prioritize our customers' needs and strive to deliver
              exceptional products and services that exceed their expectations.</p>
          </div>
          <!-- Service-->
          <div class="col-lg-4 col-md-6 block-icon-hover text-center">
            <div class="icon icon-outlined icon-outlined-primary icon-thin mx-auto mb-3"><i
                class="fas fa-lightbulb"></i></div>
            <h4 class="text-uppercase mb-3">Innovation</h4>
            <p class="text-gray-600 text-sm">We foster a culture of innovation, continuously seeking new ideas
              and solutions to improve our products, services, and processes.</p>
          </div>
          <!-- Service-->
          <div class="col-lg-4 col-md-6 block-icon-hover text-center">
            <div class="icon icon-outlined icon-outlined-primary icon-thin mx-auto mb-3"><i class="fas fa-infinity"></i>
            </div>
            <h4 class="text-uppercase mb-3">Integrity</h4>
            <p class="text-gray-600 text-sm">We conduct our business with the highest standards of integrity,
              ethics, and transparency, earning the trust of our customers and partners.</p>
          </div>
          <!-- Service-->
          <div class="col-lg-4 col-md-6 block-icon-hover text-center">
            <div class="icon icon-outlined icon-outlined-primary icon-thin mx-auto mb-3"><i class="far fa-id-card"></i>
            </div>
            <h4 class="text-uppercase mb-3">Teamwork</h4>
            <p class="text-gray-600 text-sm">We believe in collaboration and teamwork, leveraging the diverse
              skills and expertise of our employees to achieve collective success.</p>
          </div>
          <!-- Service-->
          <div class="col-lg-4 col-md-6 block-icon-hover text-center">
            <div class="icon icon-outlined icon-outlined-primary icon-thin mx-auto mb-3"><i
                class="far fa-thumbs-up"></i></div>
            <h4 class="text-uppercase mb-3">Excellence</h4>
            <p class="text-gray-600 text-sm">We are committed to excellence in everything we do, constantly
              improving and challenging ourselves to deliver the best possible outcomes.</p>
          </div>

        </div>
      </div>
    </section>
    <!-- About us SECTION-->
    <section class="py-5 bg-pentagon border-top border-gray-600" id="about-us">
      <div class="container py-4">
        <header class="mb-5">
          <h2 class="lined lined-center text-uppercase mb-4 text-white">About us</h2>

        </header>
        <!-- Testimonials slider-->
        <div class="testimonials-slider">
          <div class="row">
            <div class=" h-auto mb-5 col-lg-3">
              <div class="p-4 bg-white h-100 d-flex flex-column justify-content-between">
                <div class="mb-2">
                  <header class="mb-3">
                    <h4 class="text-uppercase lined mb-4 " style="color:#2a2a2a">Who we are</h4>
                    <p class="lead"></p>
                  </header>
                  <p class="text-sm text-gray-600">Magna Pumps is a dynamic and innovative company involved in delivering Pumping
                  Solutions, and its additional requirements, Motors, Switch Gears, Panel Boards, Fabrication Works,
                  Automation and provide services.</p>
                </div>

              </div>
            </div>

            <div class=" h-auto mb-5 col-lg-6">
              <div class="p-4 bg-white h-100 d-flex flex-column justify-content-between">
                <div class="mb-2">
                  <header class="mb-3">
                    <h4 class="text-uppercase lined mb-4"  style="color:#2a2a2a">Our Mission</h4>
                    <p class="lead"></p>
                  </header>
                  <p class="text-sm text-gray-600">At Magna Pumps, our mission is to be the preferred choice for pumping
                    solutions,
                    offering reliable, efficient, and cost-effective products that enhance the productivity
                    and success of our customers.</p>
                  <p class="text-sm text-gray-600">We aim to continuously innovate and improve our offerings, ensuring
                    that we stay at
                    the forefront of the industry by delivering high-quality products and services that
                    exceed customer expectations. </p>
                  <p class="text-sm text-gray-600">Through innovation, integrity, and teamwork, we strive to create
                    long-term value for
                    our customers, employees, and stakeholders.
                  </p>
                </div>

              </div>
            </div>

            <div class=" h-auto mb-5 col-lg-3">
              <div class="p-4 bg-white h-100 d-flex flex-column justify-content-between">
                <div class="mb-2">
                  <header class="mb-3">
                    <h4 class="text-uppercase lined mb-4"  style="color:#2a2a2a">Our Vision</h4>
                    <p class="lead"></p>
                  </header>
                  <p class="text-sm text-gray-600">To be a global leader in the pump industry, driving innovation,
                    sustainability, and
                    customer-centric solutions that contribute to a more efficient and resource-conscious
                    world.
                  </p>
                </div>

              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <!-- SHOP LISTING SECTION-->
    <section class="py-5" id="products">
      <div class="container py-4">
        <header class="mb-5">
          <h2 class="lined lined-center text-uppercase mb-4 ">Our Products</h2>
          <p class="lead"></p>
        </header>
        <div class="row">
          <div class="col-lg-6">
            <header class="mb-3">
              <h5 class="text-uppercase  lined mb-3"> Pumps</h5>
              <div style="margin-left:10px">
                <h6 class="text-uppercase  mb-3">Material of Constructions</h6>
                <div style="margin-left:10px">
                  <h6 class="text-uppercase  mb-3">Metallic Pumps</h6>

                  <div style="margin-left:10px">
                    <ul class="list-inline">
                      <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Cast Iron</a>
                      </li>
                      <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Cast Steel</a>
                      </li>
                      <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Carbon Steel</a>
                      </li>
                      <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Stainless Steel
                        </a></li>
                      <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Duplex Steel</a>
                      </li>
                      <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Alloy Steel</a>
                      </li>
                      <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Bronze Steel</a></li>
                      <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Titanium</a></li>

                    </ul>
                  </div>
                </div>
                  <div style="margin-left:10px">
                    <h6 class="text-uppercase  mb-3">Non-Metallic Pumps</h6>
                    <div style="margin-left:10px">
                      <ul class="list-inline">
                        <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Ultra-High
                            Molecular Weight Poly Ethylene (UHMWPE)</a>
                        </li>
                        <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Poly Vinylidene
                            Di-Fluoride (PVDF)</a></li>
                        <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Poly-Propylene
                            (PP)</a>
                        </li>
                      </ul>
                    </div>
                  </div>

              </div>

              <h5 class="text-uppercase  mb-3 lined"> Motors</h5>
              <div style="margin-left:10px">
                <h6 class="text-uppercase  mb-3">Flame Proof (FLP) and Non-Flame Proof (NFLP)</h6>
              <div style="margin-left:20px">
                <ul class="list-inline">
                  <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> 2 Pole – 50 Hz / 60
                      Hz – IE-2 / IE-3 / IE-4</a>
                  </li>
                  <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> 4 Pole – 50 Hz / 60
                      Hz – IE-2 / IE-3 / IE-4</a>
                  </li>
                  <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> 6 Pole – 50 Hz / 60
                      Hz – IE-2 / IE-3 / IE-4</a>
                  </li>
                  <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> 8 Pole – 50 Hz / 60
                      Hz – IE-2 / IE-3 / IE-4
                    </a></li>

                </ul>
              </div>
              </div>

              <h5 class="text-uppercase  mb-3 lined"> Panel Boards</h5>
              <div style="margin-left:10px">
                <h6 class="text-uppercase  mb-3">Based on the Enquiry and Requirements</h6>
              </div>
              <h5 class="text-uppercase  mb-3 lined"> Switch Gears</h5>
              <div style="margin-left:10px">
                <h6 class="text-uppercase  mb-3">Based on the Enquiry and Requirements</h6>
              </div>
              <h5 class="text-uppercase  mb-3 lined"> Fabrications </h5>
              <div style="margin-left:10px">
                <h6 class="text-uppercase  mb-3">Based on the Enquiry and Requirements</h6>
              </div>



            </header>
          </div>
          <div class="col-lg-6">
            <img src="assets/img/allPumps2.webp" style="width:100%" alt="industrial pumps,Sewage Pumps,Slurry pumps,water pumps,centrifugal pumps,submersible pumps,submersible water pumps">
            <div style="margin-top: 30px;text-align:center" >
            <button class="btn btn-outline-primary btn-lg " type="button" routerLink="/products">View All</button>

            </div>

          </div>
        </div>
      </div>
    </section>

    <div class="container">
      <hr>
    </div>

    <!-- SHOP LISTING SECTION-->

    <section class="py-5 ">

      <div class="container py-4">

        <div class="row">
          <div class="col-lg-8">
            <header class="mb-5">
              <h2 class="text-uppercase lined mb-4">Key Difference</h2>
              <p class="lead"></p>
            </header>
            <div class="row gy-5 align-items-stretch">
              <div>
                <div class="accordion mb-5" id="accordion1">
                  <div class="accordion-item mb-2">
                    <h5 class="accordion-header" id="accordion1-headingOne">
                      <button class="accordion-button text-uppercase fw-bold" type="button" data-bs-toggle="collapse"
                        data-bs-target="#accordion1-collapseOne" aria-expanded="true"
                        aria-controls="accordion1-collapseOne">Quality</button>
                    </h5>
                    <div class="accordion-collapse collapse show" id="accordion1-collapseOne"
                      aria-labelledby="accordion1-collapseOne" data-bs-parent="#accordion1">
                      <div class="accordion-body">
                        <div class="row">
                          <p>We prioritize quality in every aspect of our business, ensuring that our products
                            and services consistently meet or exceed industry standards.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item mb-2">
                    <h5 class="accordion-header" id="accordion1-headingTwo">
                      <button class="accordion-button text-uppercase fw-bold collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#accordion1-collapseTwo" aria-expanded="false"
                        aria-controls="accordion1-collapseTwo">Customization</button>
                    </h5>
                    <div class="accordion-collapse collapse" id="accordion1-collapseTwo"
                      aria-labelledby="accordion1-collapseTwo" data-bs-parent="#accordion1">
                      <div class="accordion-body">
                        <div class="row">
                          <p>We understand that every customer has unique requirements.</p>
                          <p>Therefore, we offer tailored solutions that address specific needs, providing a
                            personalized experience.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item mb-2">
                    <h5 class="accordion-header" id="accordion1-headingThree">
                      <button class="accordion-button text-uppercase fw-bold collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#accordion1-collapseThree" aria-expanded="false"
                        aria-controls="accordion1-collapseThree">Expert Team
                      </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="accordion1-collapseThree"
                      aria-labelledby="accordion1-collapseThree" data-bs-parent="#accordion1">
                      <div class="accordion-body">
                        <p>Our team comprises highly skilled professionals with extensive experience in
                          the industry</p>
                        <p>They bring their expertise and passion to deliver the best results for our
                          customers.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-2">
                    <h5 class="accordion-header" id="accordion1-headingFour">
                      <button class="accordion-button text-uppercase fw-bold collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#accordion1-collapseFour" aria-expanded="false"
                        aria-controls="accordion1-collapseFour">Innovation
                      </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="accordion1-collapseFour"
                      aria-labelledby="accordion1-collapseFour" data-bs-parent="#accordion1">
                      <div class="accordion-body">
                        <p> We embrace technological advancements and industry trends, staying at the
                          forefront of innovation to offer cutting-edge products and services.</p>

                      </div>
                    </div>
                  </div>

                  <div class="accordion-item mb-2">
                    <h5 class="accordion-header" id="accordion1-headingFive">
                      <button class="accordion-button text-uppercase fw-bold collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#accordion1-collapseFive" aria-expanded="false"
                        aria-controls="accordion1-collapseFive">Customer Support
                      </button>
                    </h5>
                    <div class="accordion-collapse collapse" id="accordion1-collapseFive"
                      aria-labelledby="accordion1-collapseFive" data-bs-parent="#accordion1">
                      <div class="accordion-body">
                        <p>Our dedicated customer support team is available to assist clients throughout
                          their journey with us, providing prompt assistance and resolving any concerns</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
         <!-- <div class="col-lg-4">
            <header class="mb-5">
              <h2 class="text-uppercase lined mb-4">Material of Constructions1</h2>
              <p class="lead"></p>
            </header>
            <div class="row gy-5 align-items-stretch">
              <header class="mb-1">
                <h5 class="text-uppercase  mb-1">Metalic</h5>
                <p class="lead"></p>
                <div>
                  <ul class="list-inline">
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> Cast Iron</a></li>
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> Cast Steel</a></li>
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> Carbon Steel</a>
                    </li>
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> Stainless Steel
                      </a></li>
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> Duplex Steel</a>
                    </li>
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> Alloy Steel</a>
                    </li>
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> Titanium</a></li>
                  </ul>
                </div>
              </header>

              <header class="mb-1">
                <h5 class="text-uppercase  mb-1">Non-Metalic</h5>
                <p class="lead"></p>
                <div>
                  <ul class="list-inline">
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> UHMWPE</a></li>
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> PVDF</a></li>
                    <li class="list-inline-item me-2 mb-2"><a class="tag"><i class="fa fa-tags"></i> PP</a></li>
                  </ul>
                </div>
              </header>
            </div>
          </div> -->
        </div>


      </div>
    </section>

    <!-- Contact us -->

    <section class="py-5 bg-pentagon border-top border-gray-600" style="color:white" id="contact-us">
      <div class="container py-4">
        <header class="mb-5">
          <h2 class="text-uppercase lined mb-4">Contact us</h2>
          <p class="lead"></p>
        </header>
        <div class="row gy-5">
          <div class="col-lg-8">
            <!-- CONTACT FORM-->
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScSa8OvHON-wi0gtHQ-8KnZxEcfxvzCQpCvUtxThrlHEayYmw/viewform?embedded=true" style="width:100%;height:950px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
          </div>
          <!-- CONTACT INFO-->
          <div class="col-lg-4">
            <h3 class="text-uppercase mb-3">Address</h3>
            <p class="text-sm mb-4">8/1 C, Mullai Nagar, Sengundhapuram<br>K Chettipalayam, Tiruppur<br>Tamilnadu-
              641604</p>

            <h3 class="text-uppercase mb-3">Email</h3>
            <p class="text-sm mb-4" ><strong> <a href='mailTo:info@magnapumps.com' rel="noopener" style="color:white">info@magnapumps.com</a>
                <br> <a href='mailTo:marketing@magnapumps.com' rel="noopener" style="color:white">marketing@magnapumps.com</a>
                <br> <a href='mailTo:accounts@magnapumps.com' rel="noopener" style="color:white">accounts@magnapumps.com</a>
              </strong></p>

            <h3 class="text-uppercase mb-3">Contact</h3>
            <p class="text-sm mb-4"><strong>+91-90438-23021 <br>+91-90437-83021 <br> +91-90250-46887 <br>

              </strong></p>

            <h3 class="text-uppercase mb-3">GST No</h3>

            <p class="text-sm mb-4"><strong>33EOAPK6751J1ZU
              </strong></p>
            <h3 class="text-uppercase mb-3">MSME No</h3>
            <p class="text-sm mb-4"><strong>UDYAM-TN-28-0093417
              </strong></p>

          </div>
        </div>
      </div>
    </section>
