     <!-- HEADING BREADCRUMB-->
     <section class="bg-pentagon py-4">
       <div class="container py-3">
         <div class="row d-flex align-items-center gy-4">
           <div class="col-md-7">
             <h1 class="h2 mb-0 text-uppercase">Our Applications</h1>
           </div>
           <div class="col-md-5">
             <!-- Breadcrumb-->
             <ol class="text-sm justify-content-start justify-content-lg-end mb-0 breadcrumb undefined">
               <li class="breadcrumb-item"><a class="text-uppercase" routerLink="../">Home</a></li>
               <li class="breadcrumb-item text-uppercase active">Applications </li>
             </ol>
           </div>
         </div>
       </div>
     </section>

     <section class="py-5 " id="contact-us">
       <div class="container py-4">
         <a class="float" href="https://api.whatsapp.com/send?phone=919043823021&text=&source=&data=" target="_blank" rel="noopener" title="WhatsApp">
           <img style ="height: 58px;width: 59px;margin: -3px -4px -1px -4px;" title="WhatsApp" alt="WhatsApp" src="assets/img/whatsapp.webp"></a>

         <div class="row gy-5 align-items-stretch">
           <header class="mb-3">
             <h5 class="text-uppercase  mb-3">1. Industrial Applications</h5>
             <p class="lead"></p>
             <div>
               <ul class="list-inline">
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Paper and Pulp</a>
                 </li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Textile</a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Pharmaceutical</a>
                 </li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Starch
                   </a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Automotive</a>
                 </li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Beverage</a>
                 </li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Cement</a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Food Industry</a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Water Treatment</a>
                 </li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Machining</a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Manufacturing</a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Marine </a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Mining</a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Temperature
                     Control</a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Tyre</a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Washing and
                     Cleaning</a></li>
                 <li class="list-inline-item me-2 mb-3"><a class="tag"><i class="fa fa-tags"></i> Other Industries</a>
                 </li>
               </ul>
             </div>
             <h5 class="text-uppercase  mb-3"> 2. Commercial Building</h5>
             <h5 class="text-uppercase  mb-3">3.  HVAC</h5>
             <h5 class="text-uppercase  mb-3"> 4. Boiler Feed</h5>
             <h5 class="text-uppercase  mb-3"> 5. Sewage</h5>
             <h5 class="text-uppercase  mb-3"> 6. Fire Fighting</h5>
             <h5 class="text-uppercase  mb-3">7.  Water Treatment</h5>
             <h5 class="text-uppercase  mb-3"> 8. Lift Irrigation</h5>
             <h5 class="text-uppercase  mb-3">9. Drinking Water</h5>
             <h5 class="text-uppercase  mb-3"> 10. Other Applications</h5>

           </header>


         </div>
       </div>
     </section>
