           <!-- HEADING BREADCRUMB-->
           <section class="bg-pentagon py-4">
             <div class="container py-3">
               <div class="row d-flex align-items-center gy-4">
                 <div class="col-md-7">
                   <h1 class="h2 mb-0 text-uppercase">We are Channel Partners</h1>
                 </div>
                 <div class="col-md-5">
                   <!-- Breadcrumb-->
                   <ol class="text-sm justify-content-start justify-content-lg-end mb-0 breadcrumb undefined">
                     <li class="breadcrumb-item"><a class="text-uppercase" routerLink="../">Home</a></li>
                     <li class="breadcrumb-item text-uppercase active">Channel Partners </li>
                   </ol>
                 </div>
               </div>
             </div>
           </section>


           <!-- ABOUT SECTION-->
           <section class="py-5">
             <div class="container py-4">
               <div class="row">
                 <div class="col-lg-3">
                   <img class="d-none d-md-inline-block" alt="Channel partner" style="height:50%" src="assets/img/channelPartner1.png"
                     alt="industrial pumps,Sewage Pumps,Slurry,water pumps,centrifugal pumps,submersible pumps,submersible water pumps">
                 </div>
                 <div class="col-lg-9">
                   <header class="mb-5">
                     <h2 class="text-uppercase lined mb-4">Process Pumps </h2>
                     <p class="text-lg text-grey-600">Process Pumps (I) Pvt Ltd. with a strong belief
                       in "Make in India" , have been designing,
                       manufacturing and supplying single stage
                       corrosion resistant industrial centrifugal
                       pumps, since 1984.</p>
                     <p class="text-lg text-grey-600">They offer pumps in a wide range of metallic and
                       non metallic materials to cater the entire
                       spectrum of hazardous and corrosive liquids
                       handled in various chemical and process
                       industries..</p>
                     <p class="text-lg text-grey-600">Over the decades, with the help of an ever
                       improving technology, well skilled and qualified
                       team, they have been delivering cost effective,
                       world class pumping solutions.</p>
                   </header>
                 </div>
               </div>


             </div>
           </section>


           <!-- ABOUT SECTION-->
           <section class="py-5">
             <div class="container py-4">
               <a class="float" href="https://api.whatsapp.com/send?phone=919043823021&text=&source=&data=" target="_blank" rel="noopener" title="WhatsApp">
                 <img style ="height: 58px;width: 59px;margin: -3px -4px -1px -4px;" title="WhatsApp" alt="WhatsApp" src="assets/img/whatsapp.webp"></a>
               <div class="row">
                 <div class="col-lg-3">
                   <img class="d-none d-md-inline-block" alt="industrial pumps,Sewage Pumps,Slurry,water pumps,centrifugal pumps,submersible pumps,submersible water pumps" style="height:50%" src="assets/img/channelPartner2.png"
                     alt="industrial pumps,Sewage Pumps,Slurry,water pumps,centrifugal pumps,submersible pumps,submersible water pumps">
                 </div>
                 <div class="col-lg-9">
                   <header class="mb-5">
                     <h2 class="text-uppercase lined mb-4">C.R.I Pumps </h2>
                     <p class="text-lg text-grey-600">C.R.I. ranks high among the world's fastest-growing fluid
                       management solution providers with a wide global presence. C.R.I. offers Pumps, Motors, Valves,
                       IoT Drives & Controllers, Pipes, Wires & Cables, and Solar Pumping Systems. C.R.I. Group has a
                       diversified range of 9,000+ products in its portfolio and is among the few to manufacture 100
                       percent stainless steel pumps in the world. The company has 21+ manufacturing facilities across
                       the globe and has made acquisitions in U.K. and Italy. The R&D division - "Fludyn Advanced
                       Technology Centre" is recognized by the Ministry of Science & Technology, Govt of India. India's
                       top exporter; winner of EEPC (Engineering Export Promotion Council) award 16 times and also won
                       the National Energy Conservation (NEC) award from the Government of India for 8 times.</p>
                     <p class="text-lg text-grey-600">C.R.I. Fluid Systems products cater to diverse segments such as:
                       Chemical & Process, Power, Water & Waste Water, Oil & Gas, Pharma, Sugar & Distilleries, Paper &
                       Pulp, Marine & Defence, Metal & Mining, Food & Beverage, Petrochemical & Refineries, Solar,
                       Building, HVAC, Fire Fighting, Agriculture & Residential.</p>

                   </header>
                 </div>
               </div>


             </div>
           </section>
